.form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;

    .float {
        background-color: rgb(13 148 136);
        bottom: 0.5rem;
        border-radius: 100%;
        position: fixed;
        width: 5rem;
        height: 5rem;
        color: white;
    }

    .save {
        right: 0.5rem;
    }

    .cancel {
        right: 6rem;
    }

    .buttons {
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: center;
    }

    .bmhs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        .bmh {
            align-items: center;
            border: 2px solid rgb(203 213 225);
            background-color: white;
            display: flex;
            flex-flow: column;
            justify-content: center;
            min-width: 0;
            padding: 4px;
            position: relative;
            overflow: hidden;
            outline: none;
            cursor: pointer;

            span {
                text-wrap: wrap;
                overflow: hidden;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
                min-width: 0;
                max-width: 100%;
            }

            img {
                height: 50px;
                width: 50px;
            }
        }

        .active {
            border-color: rgb(245 158 11);
        }
    }
}
