.form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 1rem;

    .buttons {
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: center;
    }

    .bmhs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 1rem;

        .bmh {
            border: 1px solid black;
            min-width: 0;
            text-overflow: ellipsis;
            text-wrap: wrap;
            overflow: hidden;
            overflow-wrap: break-word;
        }

        .active {
            background-color: blue;
        }
    }
}
