.statistics {
  padding: 0.25rem;
  display: flex;
  gap: 1rem;
  flex-flow: column;

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;

    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      padding: 0.25rem 0 0.25rem 0;
    }
  }

  .polygons {
    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      padding: 1rem 0 1rem 0;
    }

    li:hover {
      background-color: #bfdbfe;
    }
  }

  .corrupted {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .title {
      font-weight: bold;
    }
  }
}
