.main {
    padding: 0.25rem;
    display: flex;
    gap: 1rem;
    flex-flow: column;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;

        li {
            padding: 0.5rem 0 0.5rem 0;
            cursor: pointer;
        }
    }
}
