@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.map {
    height: 100%;
}

.main {
    height: 100%;
    position: relative;
}

.float {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    width: 40px;
    z-index: 400;
}

.marker {
    bottom: 120px;
    right: 20px;
}

.current {
    bottom: 70px;
    right: 20px;
}

.export {
    bottom: 20px;
    right: 20px;
}

.import {
    bottom: 20px;
    right: 70px;
}

.statistics {
    bottom: 20px;
    left: 20px;
}

#file {
    display: none;
}
