@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.map {
  height: 100%;
}

.main {
  height: 100%;
  position: relative;
}

.marker {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 400;
}
